html(lang="ko")
    head
        include ./inc/header.pug
    body
        include ./inc/navi.pug
        if titleChk != "false"
            block title
        - var a = 10;
        - if(titleChk != "false"){
        div= `타이틀 표시 ${a}`
        - }else {
        div= `타이틀 표시 ${a}`
        - }
        block content
        include ./inc/footer.pug