.top.d-flex.justify-content-between.bg-dark.text-light
    .logo.p-3 
        a(href="/") 로고
    .navis.d-flex
        .navi.p-3
            a(href="/user/li") 회원목록
        .navi.p-3 
            a(href="/user/wr") 회원가입
        .navi.p-3 
            a(href="/user/me") 회원수정 